@import url('https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  font-family: 'Dosis', sans-serif;
  font-size: 2vw;
  font-weight: 600;
}

.Post-user-avatar {
  width: 30px;
  height: 30px;
}

.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Post-user-nickname {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.content {
  padding: 60px 20px;
}

.body-area {
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}
