.image-size {
  height: 16vw;
  width: 16vw;
}

.image-area {
  padding: 20px 0px;
}

.photo-grid li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.photo {
  position: relative;
  display: inline;
  margin: 0;
  padding: 7px 0 23px;
}

.photo-wrapper {
  position: relative;
  margin: 0 20px 10px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
}
.photo-feed .photo .bg {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 5px;
  background: rgba(204, 204, 204, 0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.15s ease-out 0.1s;
  -moz-transition: all 0.15s ease-out 0.1s;
  -o-transition: all 0.15s ease-out 0.1s;
  transition: all 0.15s ease-out 0.1s;
}

.photo-feed .photo:hover .bg {
  margin: -28px -12px;
  padding: 28px 12px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.2);
}
.photo-date {
  font-size: 12px;
  font-weight: bold;
  /* color: rgb(119, 119, 119); */
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  height: 20px;
  padding: 1px 0 4px;
  text-align: center;
}
.photo-date,
.photo-stats {
  position: relative;
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out 0;
  -moz-transition: opacity 0.3s ease-out 0;
  -o-transition: opacity 0.3s ease-out 0;
  transition: opacity 0.3s ease-out 0;
}
.photo:hover .photo-date,
.photo:hover .photo-stats {
  background-color: rgba(138, 155, 165, 0.15);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out 1;
  -moz-transition: opacity 0.3s ease-out 1;
  -o-transition: opacity 0.3s ease-out 1;
  transition: opacity 0.3s ease-out 1;
}
.photo-grid li a {
  display: block;
  position: relative;
}
.photo-wrapper .Image {
  padding-bottom: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.iLoaded.iWithTransition {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.Image {
  background-size: 100% 100%;
  position: relative;
}
.photo-feed .photo .photo-wrapper .photoShadow {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.12);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: background-color 0.05s ease-out;
  -moz-transition: background-color 0.05s ease-out;
  -o-transition: background-color 0.05s ease-out;
  transition: background-color 0.05s ease-out;
}
.photo-stats {
  font-size: 13px;
  /* color: rgb(153, 153, 153); */
  color: #000;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 1px;
}
.photo-stats li:first-child {
  margin-left: 0;
}
.photo-stats li {
  display: inline-block;
  margin: 0 0 0 0.5em;
}

.photo-stats .stat-comments b {
  background-position: 3px 4px;
}

.wrap > ul {
  padding-inline-start: 0px !important;
}
